@import './colors';
@import './variables';
@import 'pod-styles';

body {
  overflow-y: scroll;
}

h5 {
  font-weight: 300;
}

button:focus {
  outline: none;
}

.btn-circle {
  border-radius: 50%;
  font-size: 10px;
  height: 25px;
  line-height: 1.428571429;
  padding: 4.5px 0;
  text-align: center;
  width: 25px;
}

.lyrics {
  bottom: 0;
  overflow-y: scroll;
  padding-left: $app-margin;
  position: fixed;
  right: 0;
  top: $app-header-height;
  word-wrap: break-word;
}

.column {
  float: left;
  padding: 1em $app-margin;
  width: 50%;
}
