@import './colors';
@import './variables';
@import 'pod-styles';

body {
  overflow-y: scroll;
}

h5 {
  font-weight: 300;
}

.lyrics {
  bottom: 0;
  overflow-y: scroll;
  padding-left: $app-margin;
  position: fixed;
  right: 0;
  top: $app-header-height;
  word-wrap: break-word;
}

.column {
  float: left;
  padding: 1em $app-margin;
  width: 50%;
}
