// scss-lint:disable UnnecessaryParentReference
& {
  width: 100%;
}

h4 {
  font-weight: 300;
}

.prompt {
  background-color: rgba($gray80, .3);
  border-radius: 20px;
  color: $gray170;
  display: inline-block;
  font-weight: 100;
  letter-spacing: 1px;
  max-width: 80%;
  overflow: hidden;
  padding: .35em 1.25em;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

button:focus {
  outline: none;
}

.btn-circle {
  border-radius: 50%;
  font-size: 10px;
  height: 25px;
  line-height: 1.428571429;
  padding: 4.5px 0;
  text-align: center;
  width: 25px;
}
