// scss-lint:disable UnnecessaryParentReference
& {
  width: 100%;
}

h4 {
  font-weight: 300;
}

.prompt {
  background-color: rgba($gray80, .3);
  border-radius: 20px;
  color: $gray170;
  display: inline-block;
  font-weight: 100;
  letter-spacing: 1px;
  max-width: 80%;
  overflow: hidden;
  padding: .35em 1.25em;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}
