// scss-lint:disable UnnecessaryParentReference
h4 {
  font-weight: 300;
}

input {
  display: inline-block;
  font-size: 100%;
  width: 13em;
}

.btn-circle {
  height: 32px;
  padding: 0;
  width: 32px;
}

.search-btn {
  font-size: 14px;
}
