<div>
  <h4>Search by Artist and Title</h4>
</div>

{{input type="text" class="form-control" value=artist placeholder="Artist"}}
{{input type="text" class="form-control" value=title placeholder="Title"}}

<button class="btn btn-primary btn-sm" {{action "search" artist title}}>Submit</button>
